# Data Science Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some popular languages in Data Science are:
1. R
2. SQL
3. Python

Some commonly used libraries in Data Science are:
1. Pandas
2. Keras
3. NumPy

|Data Science Tools|
|----|
|Apache Spark|
|Hadoop|
|SAS|

### Below are examples of evalluating arithmetic expressions in Python

In [1]:
#This is a common arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minuites into hours by dividing by 60
(200/60)

3.3333333333333335

__Objectives__
* Some popular languages in Data Science
* Some commonly used libraries in Data Science
* How to do simple arethmetic in Jupyter Notebooks
* How to make a simple table in Jupyter Notebook

## Author
Erik DuCharme